

.navbar {
    width: 100%;
    height: 5em;
    background-color: #121619;
    display: flex;
    flex-direction: row;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 5em;
  }
  
  .navbar .leftSide img {
    width: 30em;
    margin-bottom: 1em;
  }
  
  .navbar .rightSide {
    flex: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 3rem;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 4em !important;
  }

  .navbar .rightSide {
    font-size: 1.5em;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 2em;
    margin-top: 1em;
    margin-right: 0.5em;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 800px) {

    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  @media (min-width: 800px) {
 
      .navbar #hideAtHighRes {
          display: none !important;
      }
      .navbar #showAtHighRes {
          display: inherit !important;
      }
  }
  @media only screen and (max-width: 800px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 10em;
    }
  
    .navbar .rightSide button {
      display: inherit;
      margin-top: 0.5em;
    }

    .socialMedia {
      display: none;
    }
    
  }
  
  @media only screen and (min-width: 800px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }
  }

 

  .socialMedia {
    transform: scale(0.5);
  }